

{% for tag in site.tags %} 
{% capture thecycle %}{% cycle '1', '2' %}{% endcapture %}
{% if thecycle == '1' %}<div class="row-fluid">{% endif %}
<div class="span6">
<div id="{{ tag[0] }}-ref" class="category">
<h3 style="text-transform:capitalize;">{{ tag[0] }}</h3>
<div class="well well-small">
<dl>
{% assign pages_list = tag[1] %}  
{% for node in pages_list %}
 {% if node.title != null and node.category == "recipes" %}
 {% if group == null or group == node.group %}
 <dt><a href="{{ BASE_PATH }}{{node.url}}">{{node.title}}</a> <small style="color:#999; font-weight:normal;">{{ node.date | date:"%Y-%m-%d" }}</small></dt>
 <dd> {% if node.description %} {{node.description}} {% endif %} </dd>
 {% endif %}
 {% endif %}
{% endfor %}
</dl>
</div> <!-- well -->
</div> <!-- category -->
</div> <!-- span6 -->
{% if thecycle == '2' or forloop.last %}</div>{% endif %}
{% endfor %}


 
