
<div class="row">
  <div class="span9">
    <div class="page-header">
      {% assign tags_list = page.tags %}
      <h1>{{ page.title }} <small>{{ page.description }} </small></h1>
	<div class="ssn">
          <ul>
	    <li>
	      {% for tag in tags_list %}
	      <a class="label label-info" href="{{ BASE_PATH }}/#{{ tag }}-ref">{{ tag }}</a>
	      {% endfor %}
	    </li>
	    <li><small style="vertical-align:middle;">Published {{ page.date | date_to_long_string }}</small></li>
	    <li><a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="standard-balloon" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script> </li>
	    <li><a href="https://twitter.com/share" class="twitter-share-button" data-via="taroleo">Tweet</a>
	  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> 
	    </li>
 	    <li><div class="fb-like" data-send="false" data-layout="button_count" data-width="90" data-show-faces="true" data-colorscheme="light" data-action="like"></div></li>
	  </ul>
	</div>

    </div>
    {{ content }}
    <div class="pagination">
      <ul style="white-space:nowrap;">
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
      {% endif %}
      </ul>
    </div>
  </div>
  <div class="span3">
    <div id="toc" class="well well-small affix"></div>
  </div>
</div>
